@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: 0 0% 100%; /* white */
    --foreground: 222.2 84% 4.9%; /* slate-900 */
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 243.8 91.2% 59.4%; /* indigo-600 */
    --primary-foreground: 210 40% 98%; /* slate-50 */
    --secondary: 210 40% 96.1%; /* slate-100 */
    --secondary-foreground: 222.2 47.4% 11.2%; /* slate-900 */
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%; /* slate-500 */
    --accent: 27.4 95.5% 53.1%; /* orange-500 */
    --accent-foreground: 210 40% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%; /* slate-200 */
    --input: 214.3 31.8% 91.4%;
    --ring: 243.8 91.2% 59.4%;
    --radius: 0.5rem;
    --chart-1: 243.8 91.2% 59.4%; /* indigo */
    --chart-2: 221.2 83.2% 53.3%; /* blue */
    --chart-3: 142.1 76.2% 36.3%; /* green */
    --chart-4: 27.4 95.5% 53.1%; /* orange */
    --chart-5: 346.8 77.2% 49.8%; /* pink */
  }
  .dark {
    --background: 222.2 84% 4.9%; /* slate-950 */
    --foreground: 210 40% 98%; /* slate-50 */
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 243.8 91.2% 59.4%; /* indigo-600 */
    --primary-foreground: 210 40% 98%;
    --secondary: 217.2 32.6% 17.5%; /* slate-800 */
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%; /* slate-400 */
    --accent: 27.4 95.5% 53.1%; /* orange-500 */
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 243.8 91.2% 59.4%;
    --chart-1: 243.8 91.2% 59.4%;
    --chart-2: 221.2 83.2% 53.3%;
    --chart-3: 142.1 76.2% 36.3%;
    --chart-4: 27.4 95.5% 53.1%;
    --chart-5: 346.8 77.2% 49.8%;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}